/*
#profile-pic {
    height: 230px;
    width: 230px;
}
*/
ul{
    list-style: none;
    padding: 0;
}
big{
    font-size: 2em;
    color: cornflowerblue;
}
.stats {
    text-align: center;
}
.tab1 > li {
    position: relative;
}
.tab1 > li > h3::after {
    content: '\2b51';
    position: absolute;
    right: 1em;
    color: #999;
}
.repo-descrption{
    color: #999;
}
.tab-content{
    margin-top: 2ex;
}
.panel-default {
}