/*
#profile-pic {
    height: 230px;
    width: 230px;
}
*/
ul{
    list-style: none;
    padding: 0;
}
big{
    font-size: 2em;
    color: cornflowerblue;
}
.stats {
    text-align: center;
}
.tab-content{
    margin-top: 2ex;
}
.panel-default {
}