/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ==========================================================================*/ 

/*******HEADER*******/

.page {
    width: 80%;
    min-width: 415px;
    margin: 0 auto;
}

.title {
    text-align: center;
    color: steelblue;
    letter-spacing: 0.5ex;
}

.title p {
    margin-top: 1.2em;
}

h1 {
   margin: -0.8ex auto -0.2ex auto; 
}

header > nav {
    text-align: center;
}

.top-nav {
    margin: 0.5ex;
    height: 45px;
    width: 45px;
    text-align: center;
    padding: 1ex;
    line-height: 58px;
    border: 4px solid #62AFEF;
    border-radius: 50%;
}

.fa {
    color: #62AFEF;
}

/*******MAIN*******/

.timeline {
    list-style: none;
    padding-left: 0;
}


.page li {
    position: relative;
}

/*******TIMELINE*******/

.left-side {
    position: relative;
    display: inline;
}

.date {
    color: #999;
    margin-top: 2em;
    margin-bottom: 0;
}

.clock {
    font-size: 2em;
    color: #62AFEF;
    margin-top: 0;
    margin-bottom: 0.8ex;
}


.page .bubble {
    position: absolute;
    right: 0;
    top: 1em;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 58px;
    border: 7px solid #A3D2FA;
    border-radius: 50%;
    background-color: #3F90D7;
    
}

.bubble .fa {
    color: #fff;
}

.page article{
    background-color: #62AFEF;
    padding: 2ex;
    box-sizing: border-box;
    border-radius: 1ex;
    position: relative;
    color: #fff;
}

.page h3 {
    border-bottom: 1px solid #fff;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

    /*******MEDIUM BREAK*******/

@media screen and (min-width: 650px) {

.page {
    min-width: 410px;
}
    
.timeline {
    padding-left: 1ex;
    border-left: 10px solid #62AFEF;
}
    
.left-side {
    display: inline-block;
    float: left;
    margin-left: -7.4em;
}

.clock {
    font-size: 1.3em;
}

.bubble {
    margin-top: -1.5em;
    left: -4.7em;
}
    

ol > li {
    margin: 3em 1em 3em 2em;
}    
    
    /*******LARGE BREAK*******/
    
@media screen and (min-width: 800px) {
    
header {
    position: relative;
    max-width: 820px;
}
    
.title {
    position: absolute;
}
    
header > nav {
    text-align: right;
    padding-top: 2em;
}
    
.title h1 {
    margin-top: -.8ex;
}
    
.left-side {
    margin-left: -8.3em;
}

.clock {
    font-size: 1.6em;
}
    
.timeline {
    max-width: 800px;
    margin-top: 5em
}
    
    
    
    
}
    
    
    
    
    

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}




/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}