header {
    height: 20em;
    background-image: url(http://www.awi.de/fileadmin/user_upload/Infrastructure/Ships/Polarstern/Weekly_Reports/ANT-XXV-3/2009-03-15/Wave_MEttlin_p.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    max-width: 55em;
}
#author-links {
    text-align: center;
}

#about-ad {
    text-align: right;
}

.pop-box {
    padding: 0;
}
